<a href="https://colab.research.google.com/github/akilchen/pandas_exercise/blob/main/CH06_%E9%81%B8%E5%8F%96%E8%B3%87%E6%96%99%E7%9A%84%E5%AD%90%E9%9B%86.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd
import numpy as np

Mounted at /content/drive

# **6.1 選取一筆或多筆Series資料**

01 讀取college.csv,用[]選取名為CITY的col_name,傳回Series物件存成city變數

In [3]:
college = pd.read_csv('/content/drive/MyDrive/Pandas/data/college.csv',index_col='INSTNM')
city = college['CITY']
city

INSTNM
Alabama A & M University                                            Normal
University of Alabama at Birmingham                             Birmingham
Amridge University                                              Montgomery
University of Alabama in Huntsville                             Huntsville
Alabama State University                                        Montgomery
                                                                ...
SAE Institute of Technology  San Francisco                      Emeryville
Rasmussen College - Overland Park                            Overland Park
National Personal Training Institute of Cleveland         Highland Heights
Bay Area Medical Academy - San Jose Satellite Location            San Jose
Excel Learning Center-San Antonio South                        San Antonio
Name: CITY, Length: 7535, dtype: object

02 直接從傳回的Series中，用[]按照index label來選取資料

In [4]:
city['Alabama A & M University']

'Normal'

03 使用loc按index label來做同樣的事情

In [5]:
city.loc['Alabama A & M University']

'Normal'

04 使用iloc按照位置屬性作相同的事情

In [6]:
city.iloc[0]

'Normal'

05 將多個包含index label的list放進[]中，就可以同時選取多筆資料。

In [8]:
city[['Alabama A & M University','Florida State University']]

INSTNM
Alabama A & M University         Normal
Florida State University    Tallahassee
Name: CITY, dtype: object

06 使用iloc做相同的事

In [9]:
city.iloc[[0,1]]

INSTNM
Alabama A & M University                   Normal
University of Alabama at Birmingham    Birmingham
Name: CITY, dtype: object

08 使用[]搭配slicing來選取多個值。

In [10]:
city['Alabama A & M University':'Alabama State University']

INSTNM
Alabama A & M University                   Normal
University of Alabama at Birmingham    Birmingham
Amridge University                     Montgomery
University of Alabama in Huntsville    Huntsville
Alabama State University               Montgomery
Name: CITY, dtype: object

09 使用[]搭配位置slicing選取多個值

In [11]:
city[0:5]

INSTNM
Alabama A & M University                   Normal
University of Alabama at Birmingham    Birmingham
Amridge University                     Montgomery
University of Alabama in Huntsville    Huntsville
Alabama State University               Montgomery
Name: CITY, dtype: object

10 使用loc[]搭配label slicing做相同的事情

In [12]:
city.loc['Alabama A & M University':'Alabama State University']

INSTNM
Alabama A & M University                   Normal
University of Alabama at Birmingham    Birmingham
Amridge University                     Montgomery
University of Alabama in Huntsville    Huntsville
Alabama State University               Montgomery
Name: CITY, dtype: object

11 使用iloc[ ] 搭配位置slicing來做相同的事

In [13]:
city.iloc[0:5]

INSTNM
Alabama A & M University                   Normal
University of Alabama at Birmingham    Birmingham
Amridge University                     Montgomery
University of Alabama in Huntsville    Huntsville
Alabama State University               Montgomery
Name: CITY, dtype: object

12 用isin()判斷城市座落在Birmingham或Montgomery的大學，傳回一個boolean series

In [14]:
alabama_mask = city.isin(['Birmingham','Montgomery'])
alabama_mask

INSTNM
Alabama A & M University                                  False
University of Alabama at Birmingham                        True
Amridge University                                         True
University of Alabama in Huntsville                       False
Alabama State University                                   True
                                                          ...
SAE Institute of Technology  San Francisco                False
Rasmussen College - Overland Park                         False
National Personal Training Institute of Cleveland         False
Bay Area Medical Academy - San Jose Satellite Location    False
Excel Learning Center-San Antonio South                   False
Name: CITY, Length: 7535, dtype: bool

In [15]:
city[alabama_mask]

INSTNM
University of Alabama at Birmingham                 Birmingham
Amridge University                                  Montgomery
Alabama State University                            Montgomery
Auburn University at Montgomery                     Montgomery
Birmingham Southern College                         Birmingham
South University-Montgomery                         Montgomery
Faulkner University                                 Montgomery
Herzing University-Birmingham                       Birmingham
Huntingdon College                                  Montgomery
Jefferson State Community College                   Birmingham
Lawson State Community College-Birmingham Campus    Birmingham
Samford University                                  Birmingham
Southeastern Bible College                          Birmingham
H Councill Trenholm State Community College         Montgomery
West Virginia University Institute of Technology    Montgomery
Virginia College-Birmingham                         Birmingham
Southeastern School of Cosmetology                  Birmingham
Strayer University-Alabama                          Birmingham
University of Phoenix-Alabama                       Birmingham
Virginia College-Montgomery                         Montgomery
Fortis College-Montgomery                           Montgomery
Fortis Institute-Birmingham                         Birmingham
Hair Academy                                        Montgomery
Brown Mackie College-Birmingham                     Birmingham
Nunation School of Cosmetology                      Birmingham
Troy University-Montgomery Campus                   Montgomery
Name: CITY, dtype: object

了解更多:用Tuple來尋找欄位資料

In [23]:
college.head()

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,4206.0,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,11383.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,291.0,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370
University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,5451.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097
Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,4811.0,...,0.0098,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5

In [16]:
college.loc['Alabama A & M University','CITY'] #先取列，後取欄

'Normal'

In [26]:
college.iloc[0,0]

'Normal'

In [28]:
college.loc[['Alabama A & M University','University of Alabama in Huntsville'],'CITY']

INSTNM
Alabama A & M University                   Normal
University of Alabama in Huntsville    Huntsville
Name: CITY, dtype: object

In [29]:
college.iloc[[0,4],0]

INSTNM
Alabama A & M University        Normal
Alabama State University    Montgomery
Name: CITY, dtype: object

In [30]:
college.loc['Alabama A & M University':'Alabama State University','CITY']

INSTNM
Alabama A & M University                   Normal
University of Alabama at Birmingham    Birmingham
Amridge University                     Montgomery
University of Alabama in Huntsville    Huntsville
Alabama State University               Montgomery
Name: CITY, dtype: object

In [31]:
college.iloc[0:5,0]

INSTNM
Alabama A & M University                   Normal
University of Alabama at Birmingham    Birmingham
Amridge University                     Montgomery
University of Alabama in Huntsville    Huntsville
Alabama State University               Montgomery
Name: CITY, dtype: object

# **6.2 選取DataFrame的row**

要選取DataFrame的列，最直接的方法是使用iloc與loc

01讀取college.csv,將INSTNM設為index

In [33]:
college = pd.read_csv('/content/drive/MyDrive/Pandas/data/college.csv',index_col='INSTNM')
college.head()

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,4206.0,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,11383.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,291.0,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370
University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,5451.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097
Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,4811.0,...,0.0098,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5

02 用iloc[index位置]取得特定資料

In [34]:
college.iloc[0]

CITY                  Normal
STABBR                    AL
HBCU                     1.0
MENONLY                  0.0
WOMENONLY                0.0
RELAFFIL                   0
SATVRMID               424.0
SATMTMID               420.0
DISTANCEONLY             0.0
UGDS                  4206.0
UGDS_WHITE            0.0333
UGDS_BLACK            0.9353
UGDS_HISP             0.0055
UGDS_ASIAN            0.0019
UGDS_AIAN             0.0024
UGDS_NHPI             0.0019
UGDS_2MOR                0.0
UGDS_NRA              0.0059
UGDS_UNKN             0.0138
PPTUG_EF              0.0656
CURROPER                   1
PCTPELL               0.7356
PCTFLOAN              0.8284
UG25ABV               0.1049
MD_EARN_WNE_P10        30300
GRAD_DEBT_MDN_SUPP     33888
Name: Alabama A & M University, dtype: object

03 用loc[index label]取得資料

In [35]:
college.loc['Amridge University']

CITY                  Montgomery
STABBR                        AL
HBCU                         0.0
MENONLY                      0.0
WOMENONLY                    0.0
RELAFFIL                       1
SATVRMID                     NaN
SATMTMID                     NaN
DISTANCEONLY                 1.0
UGDS                       291.0
UGDS_WHITE                 0.299
UGDS_BLACK                0.4192
UGDS_HISP                 0.0069
UGDS_ASIAN                0.0034
UGDS_AIAN                    0.0
UGDS_NHPI                    0.0
UGDS_2MOR                    0.0
UGDS_NRA                     0.0
UGDS_UNKN                 0.2715
PPTUG_EF                  0.4536
CURROPER                       1
PCTPELL                   0.6801
PCTFLOAN                  0.7795
UG25ABV                    0.854
MD_EARN_WNE_P10            40100
GRAD_DEBT_MDN_SUPP         23370
Name: Amridge University, dtype: object

04 如果要選取多列資料，以list包起不同列的位置，傳給iloc

In [37]:
college.iloc[[60,178,935]] #會傳回一個DataFrame

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
University of Alaska Anchorage,Anchorage,AK,0.0,0.0,0.0,0,NaN,NaN,0.0,12865.0,...,0.0980,0.0181,0.0457,0.4539,1,0.2385,0.2647,0.4386,42500,19449.5
Southeast Arkansas College,Pine Bluff,AR,0.0,0.0,0.0,0,NaN,NaN,0.0,1322.0,...,0.0000,0.0000,0.0000,0.4554,1,0.6527,0.2367,0.4916,25000,6574
Shorter University,Rome,GA,0.0,0.0,0.0,1,480.0,473.0,0.0,1449.0,...,0.0186,0.0386,0.0442,0.0932,1,0.4644,0.6710,0.2396,43600,29000

05 將不同大學名稱(index label)存進list並傳遞給loc,有相同效果

In [38]:
labels = ['Amridge University','Alabama A & M University','Alabama State University']
college.loc[labels]

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,291.0,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370
Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,4206.0,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,4811.0,...,0.0098,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5

06 使用iloc[slicing]來選取連續資料列

In [39]:
college.iloc[99:102]

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
International Academy of Hair Design,Tempe,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,188.0,...,0.0160,0.0000,0.0638,0.0000,0,0.7185,0.7346,0.3905,22200,10556
GateWay Community College,Phoenix,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,5211.0,...,0.0127,0.0161,0.0702,0.7465,1,0.3270,0.2189,0.5832,29800,7283
Mesa Community College,Mesa,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,19055.0,...,0.0205,0.0257,0.0682,0.6457,1,0.3423,0.2207,0.4010,35200,8000

07 使用loc[slicing]來選取連續資料列<br>
(注意!搭配loc時，Pandas是使用closed interval)

In [41]:
start = 'Alabama A & M University'
stop = 'Alabama State University' #傳回結果會包含結束的值
college.loc[start:stop]

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,4206.0,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,11383.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,291.0,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370
University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,5451.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097
Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,4811.0,...,0.0098,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5